<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="WCF_Project_Library_Powers.StudentService"
               behaviorConfiguration="StudentServiceMEXBehavior">

        <endpoint address="student"
                  binding="basicHttpBinding"
                  contract="WCF_Project_Library_Powers.IStudentService" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8959/StudentService"/>
          </baseAddresses>
        </host>
        
      </service>
    </services>
    
    <!--Behavior definition to allow metadata to be exchanged-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="StudentServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>