<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="InstanceManagementLibrary.Service1"
               behaviorConfiguration ="Service1MEXBehavior" >

        <endpoint address="counterService"
                  binding="wsHttpBinding"
                  contract="InstanceManagementLibrary.IService1" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9005/CounterService"/>
          </baseAddresses>
        </host>

      </service>
    </services>

    <!--behavior definition to allow metadata to be exchanged-->
    <behaviors>
      <serviceBehaviors>
        <behavior name ="Service1MEXBehavior" >
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>