<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="AccountsServiceLibrary.AccountsService" behaviorConfiguration="AccountsServiceMEXBehaviour">
        <endpoint address="account" binding="basicHttpBinding" contract="AccountsServiceLibrary.IAccountService" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/AccountsService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <!--Behavior definition to allow metadata to be exchanged-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="AccountsServiceMEXBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>